@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: none;
}

body{
    background-image: url("images/Play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

img{
    width: 100%;
    height: 100%;
}
.aim
{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

.target
{
    position: relative;
    top: -50%; 
    left: 50%;
    height: 110px;
    width: 110px;
    overflow: auto;
    z-index: 0;
    box-sizing: border-box;
}

.score{
    text-transform: uppercase;
    position: fixed;
    top: 0%;
    right: 0%;
    text-align: center;
    margin: 16px 15px;
    font-size: 18px;
}

.timer{
    text-transform: uppercase;
    position: fixed;
    top: 5%;
    right: 0%;
    text-align: center;
    margin: 16px 15px;
    font-size: 1rem;
}
.highscore
{
    text-transform: uppercase;
    position: fixed;
    bottom: 2%;
    left: 35%;
    right: 35%;
    text-align: center;
    font-size: 1.7rem;
}
.landingpage{
    position: fixed;
    background-image: url("images/LandingPage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    cursor: default ;
}
.ClickToBegin
{
    position: fixed;
    cursor: pointer;
    top: 18.8%;
    left: 32.45%;
    font-family: 'Press Start 2P', cursive;
    padding: 14.9% 15.535% 0.4% 15.535%;
}
